<h1><%= @user.profile_name %></h1>
<% if @user.admin? %>
	<p>Moderator
<% else %>
	<p>Joined <%= time_ago_in_words(@user.created_at) + " ago" %>
<% end %>
 - Uploaded <%= @posts.count %> Drips</p>
<% if current_user && current_user.id == @user.id %>
<%= link_to "Edit profile", edit_user_registration_path %><br><br>
<% end %>
<% if @posts %>
	<% @posts.each do |post| %>
		<%= link_to post.location, post %><br>
	<% end %>
<% end %>
