
<%= simple_form_for @post, :html => { :multipart => true } do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.input :picture %>
    <%= f.input :artist_id, collection: Artist.all, label_method: :name %>
    <%= f.input :location %>
    <%= f.input :city %><br/>
    <div id="GPSLocation-box" style="display:none;">
      Locate Me: <input type="checkbox" id="GPSLocation-check"><br/><br/>
    </div>
        <script language="javascript" type="text/javascript"> 
      if (navigator.geolocation) {  
        $( "#GPSLocation-box" ).show();
      } else {  
          
      }  
    </script>


    <%= f.button :submit %>
<% end %>

   

