<% @posts.each do |post| %>
<div class="post post-masonry">
        <%= link_to image_tag(post.picture.url(:small)), post %>
        <div class="post-details">
          <h4 class="post-address"><%= link_to post.location, post %></h4>
          <h5 class="post-city"><%= link_to post.city + ", " + post.country, post %></h5>
          <div class="post-more">
            <hr>
            <span>Uploaded by <%= link_to post.user.profile_name, profile_path(post.user.profile_name) %> <%= time_ago_in_words(post.created_at) + " ago" %></span>
            <span><%= likes_plural(post) %><% if current_user.present? %><%= toggle_like_button(post, current_user) %><% end %>
              <% if current_user && current_user.admin? %> |  <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></span>
          </div>
        </div>

      </div>
  <% end %>