    <% @posts.each do |post| %>
      <div class="post">
        <%= link_to image_tag(post.picture.url(:small)), post %>
        <div class="post-infos">
            <h3><%= link_to post.location + ", " + post.city, post %></h3>
            Uploaded by <%= post.user.profile_name %><br>
            <%= post.latitude %> / <%= post.longitude %><br><br>
            <div class="post-actions">
                <%= link_to time_ago_in_words(post.created_at) + " ago", post %>
                <% if current_user && current_user.admin? %>
                <div class="admin"> |  
                    <%= link_to 'Edit', edit_post_path(post) %> |  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
                <% end %>
            </div>
        </div>
      </div>
    <% end %>

<br>


