
      <%= link_to 'Back to the list', posts_path %><br/><br/>

<div class="post">
        <%= image_tag @post.picture.url(:small) %>
        <div class="post-infos">
        <h3><%= @post.location %><br></h3>
        Uploaded by <%= @post.user.profile_name %><br>
        <%= @post.infos %><br>
        <div class="post-actions">
        	<%= time_ago_in_words(@post.created_at) + " ago"%><% if current_user && current_user.admin? %> |  
        	<%= link_to 'Edit', edit_post_path(@post) %> |  <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
            <% end %>
        </div>
      </div>
