<!DOCTYPE html>
<html>
<head>
  <title>Drips</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
		<div id="header-container">
			<h1>Drips</h1>
			<%= link_to 'New Post', new_post_path, class: "btn newpost" %>
		</div>
	</div>

	<div id="page-container">
		<% if user_signed_in? %>
		Hello <%= link_to current_user.profile_name, edit_user_registration_path %> | <%= link_to "Log Out", logout_path%><br><br>
		<% else %>
			<%= link_to "Register", register_path %> | <%= link_to "Log In", new_user_session_path %><br><br>
		<% end %>

		<% flash.each do |type, message| %>
			<p class="<%= type %>"><%= message %></p>
		<% end %>


		<%= yield %>
	</div>



</body>
</html>
